.input-container {
  margin-top: 30px;
  border-top: 1px solid black;
}

input {
  display: block;
  margin: 20px;
}

.condition {
  display: inline-block;
  margin: 20px;
}

input.update-cleanliness-btn {
  display: inline-block;
}
